.sugessions {
    margin-top: 30px;
    margin-right: 20px;
}

.suggestions__title {
    color: grey;
    font-weight: bold;
}

.username__left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username__info {
    display: flex;
    flex-direction: column;
}

.relation {
    color: gray;
    font-size: 12px;
}

.sugesstion__username {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.username {
    font-weight: 600;
    font-size: 14px;
}

.header-main {
    display: none;
}

@media (min-width:300px) and (max-width:450px) {
    .header-main {
        display: none;
    }

    .sugessions {
        display: none;
    }

}