@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}
p{
  color: white;
}
::-webkit-scrollbar{
  background-color: black;
  border: 0.8px solid rgb(40, 40, 40);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(41, 40, 40);
  border-radius: 100px;
}